/* =========================================================================
   TEXT & HEADINGS
   ========================================================================= */
.stHeading h1 {
    color: white;
    padding-top: -60px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

/* =========================================================================
   SIDEBAR CUSTOMIZATION & POSITIONING
   ========================================================================= */
[data-testid="stSidebar"] {
    background-color: #F36262F5;
    border-right: 1px solid #f3c205;
}

[data-testid="stSidebar"] > div:first-child {
    background-color: #091d27 !important;
}
/* =========================================================================
   ACTION BUTTONS
   ========================================================================= */
.stButton button {
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    border: none;
    margin-top: 45px;
}

.stButton button:hover {
    background-color: #45a049;
    color: white;
}

/* =========================================================================
   GEOGRAPHICAL PLOT CONTAINER
   ========================================================================= */
.stPlotlyChart {
    border-radius: 16px;
    padding-left: 30px;
    overflow: hidden;
}
